<div class="card p-6 font-montserrat rounded-2xl bg-white border border-gray-100 inline-flex flex-col gap-3">
  <div>
    <img
      class="p-3 bg-gray-100 rounded-lg"
      src="/src/assets/rocketIcon.svg"
      alt=""
    >
  </div>
  <div>
    <h1 class="font-bold text-lg tracking-[0.36px] text-gray-700">Швидкість роботи</h1>
    <p class="opacity-70 leading-5 text-neutral-500 text-xs max-w-[230px]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt.
    </p>
  </div>
</div>