<div class="flex h-full w-full max-w-[367px] flex-col gap-3 md:gap-7">
  <img
    src="/src/assets/articleImage.png"
    alt="article image"
    class="max-h-[240px]"
  />
  <div class="flex w-full flex-col gap-2 md:gap-3">
    <p class="text-xs font-semibold leading-5 text-gray-400">1 Вересня 2023</p>
    <div class="flex gap-4">
      <h1
        class="font-semibold leading-7 text-zinc-900 md:text-2xl md:leading-8"
      >
        Як відбувається ремонт двигунів?
      </h1>
      <a
        class="pt-2"
        href="/blog/"
      >
        <img src="/src/assets/arrowUpRight.svg" />
      </a>
    </div>
    <p class="text-xs leading-4 text-gray-400 md:text-base md:leading-6">
      Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl
      winning Dynasty?
    </p>
  </div>
</div>
