<div
  class="relative flex w-full flex-col gap-4 rounded-2xl border border-slate-300 bg-white px-3.5 py-3 md:flex-row md:items-center md:gap-0 2xl:pr-0"
>
  <img
    src="/src/assets/xMarkIcon.svg"
    class="absolute right-3 top-3 cursor-pointer"
  />
  <div class="flex items-start max-w-[290px] w-full mr-5 gap-5">
    <div
      class="inline-flex rounded-xl bg-indigo-100 md:flex md:items-center md:justify-center"
    >
      <img
        src="/src/assets/scaniaTank.png"
        alt="result product image"
        class="max-w-none"
      />
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-sm font-semibold leading-small text-gray-900 truncate">
        Паливний бак Scania
      </h2>
      <p class="text-sm leading-5 text-neutral-500">Код: 6422889</p>
    </div>
  </div>
  <div
    class="flex flex-wrap items-center justify-between min-[425px]:flex-nowrap"
  >
    <div class="max-w-[102px] md:mr-[69px]">
      <div class="mb-1 flex items-center gap-2">
        <p
          class="whitespace-nowrap text-[10px] font-bold leading-4 text-gray-400 line-through opacity-50"
        >
          2200 &#8372;
        </p>
        <div class="relative">
          <img
            src="/src/assets/discountBlue.svg"
            class="max-w-none"
          />
          <p
            class="absolute left-2 top-0.5 whitespace-nowrap text-[10px] font-bold text-white"
          >
            -200
          </p>
        </div>
      </div>
      <div class="text-xl font-semibold text-gray-900">2200 &#8372;</div>
    </div>
    <div class="flex items-center gap-4 md:mr-[85px]">
      <button>
        <img
          src="/src/assets/minusIcon.svg"
          class="max-w-none"
        />
      </button>
      <p class="text-sm font-semibold text-gray-900">1</p>
      <button class="rounded bg-blue-500 p-[5px]">
        <img
          src="/src/assets/plusIcon.svg"
          class="max-w-none"
        />
      </button>
    </div>
    <div class="whitespace-nowrap text-xl font-semibold text-gray-900">
      2200 &#8372;
    </div>
  </div>
</div>
