<div class="contactCard py-8 font-montserrat pl-8 pr-16 rounded-2xl inline-block">
  <div class="flex gap-3 mb-9">
    <img
      class="p-2 bg-white paragraphIcon rounded-full"
      src="/src/assets/phoneIcon.svg"
      alt="phone icon"
    >
    <h1 class="text-gray-900 font-jakarta font-bold leading-[44px] text-[40px]">Наші контакти</h1>
  </div>
  <div class="gap-5 flex flex-col items-start">
    <div class="font-montserrat flex flex-col gap-2.5 text-zinc-800">
      <div class="font-bold">Адреса:</div>
      <div class="leading-7">Україна, м. Львів, вул. Пасічна 127</div>
    </div>
    <div class="font-montserrat flex flex-col gap-2.5 text-zinc-800">
      <div class="font-bold">Телефон</div>
      <div class="leading-7">+38(098)-0000-122</div>
      <div class="leading-7">+38(098)-0000-122</div>
      <div class="leading-7">+38(098)-0000-122</div>
    </div>
    <div class="font-montserrat flex flex-col gap-2.5 text-zinc-800">
      <div class="font-bold">Пошта:</div>
      <div class="leading-7">avtobaza12@ukr.net</div>
    </div>
    <button class="bg-blue-600 text-white py-3 px-9 text-xs font-bold rounded-[30px] leading-none">Зателефонувати</button>
  </div>
</div>