<div
  class="contactCard py-8 pl-8 min-[425px]:pr-16 pr-8 rounded-2xl inline-block bg-white"
>
  <div class="flex gap-3 mb-9">
    <div
      class="p-2 bg-white paragraphIcon rounded-full hidden min-[425px]:block"
    >
      <img
        src="/src/assets/phoneIcon.svg"
        alt="phone icon"
      />
    </div>
    <h1
      class="text-gray-900 font-jakarta font-bold text-3xl lg:text-big lg:leading-extra-height leading-normal whitespace-nowrap"
    >
      Наші контакти
    </h1>
  </div>
  <div class="gap-5 flex flex-col items-start text-neutral-500 mb-4">
    <div class="flex flex-col gap-2.5">
      <div class="font-bold">Адреса:</div>
      <div class="leading-7">Україна, м. Львів, вул. Пасічна 127</div>
    </div>
    <div
      class="flex flex-col gap-2.5 transition-colors duration-300 hover:text-zinc-900"
    >
      <div class="font-bold">Телефон</div>
      <div class="leading-7">
        <a href="tel:+380980000122"> +38(098)-0000-122 </a>
      </div>
      <div class="leading-7">
        <a href="tel:+380960000127"> +38(096)-0000-127 </a>
      </div>
      <div class="leading-7">
        <a href="tel:+380980000127"> +38(098)-0000-127 </a>
      </div>
    </div>
    <div
      class="flex flex-col gap-2.5 transition-colors duration-300 hover:text-zinc-900"
    >
      <div class="font-bold">Пошта:</div>
      <div class="leading-7 underline underline-offset-2">
        <a href="mailto:avtobaza12@ukr.net"> avtobaza12@ukr.net </a>
      </div>
    </div>
    <button
      class="bg-blue-600 text-white py-3 px-9 text-xs font-bold rounded-large transition-colors duration-300 hover:bg-blue-700 hover:text-zinc-100 leading-none"
    >
      Зателефонувати
    </button>
  </div>
  <button class="flex gap-2.5 items-center pl-3">
    <img
      src="/src/assets/wayIcon.svg"
      alt="way icon"
    />
    <p class="text-xs font-medium text-blue-600">Прокласти маршрут</p>
  </button>
</div>
