<div
  class="card inline-flex max-w-[270px] flex-col gap-5 rounded-2xl bg-white py-5 pl-5 pr-14"
>
  <div>
    <h1 class="mb-3 text-lg font-semibold text-gray-900">Марка вантажівки</h1>
    <ul class="flex flex-col gap-4">
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            checked
            id="daf"
          />
          <label
            for="daf"
            class="text-sm font-medium text-gray-900"
          >
            DAF
          </label>
        </div>
        <ul class="ml-4 mt-2 flex flex-col gap-2">
          <li class="flex items-center gap-2.5">
            <input
              class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
              type="checkbox"
              id="cf85"
            />
            <label
              class="text-sm text-gray-900"
              for="cf85"
            >
              CF 85
            </label>
          </li>
          <li class="flex items-center gap-2.5">
            <input
              class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
              type="checkbox"
              id="xf95"
            />
            <label
              class="text-sm text-gray-900"
              for="xf95"
            >
              XF 95
            </label>
          </li>
          <li class="flex items-center gap-2.5">
            <input
              class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
              type="checkbox"
              id="xf105"
            />
            <label
              class="text-sm text-gray-900"
              for="xf105"
            >
              XF 105
            </label>
          </li>
        </ul>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="iveco"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="iveco"
          >
            IVECO
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="man"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="man"
          >
            MAN
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="scania"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="scania"
          >
            SCANIA
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="mercedesActros"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="mercedesActros"
          >
            MERCEDES ACTROS
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="volvo"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="volvo"
          >
            VOLVO
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <h1 class="mb-3 text-lg font-semibold text-gray-900">Запчастини</h1>
    <ul class="flex flex-col gap-4">
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="fuelSystem"
            checked
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="fuelSystem"
          >
            Паливна система
          </label>
        </div>
        <ul class="ml-4 mt-2 flex flex-col gap-2">
          <li class="flex items-center gap-2.5">
            <input
              class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
              type="checkbox"
              id="fuelSystemParts"
            />
            <label
              class="text-sm text-gray-900"
              for="fuelSystemParts"
            >
              Запасні частини ПНВТ
            </label>
          </li>
          <li class="flex items-center gap-2.5">
            <input
              class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
              type="checkbox"
              id="adblue"
            />
            <label
              class="text-sm text-gray-900"
              for="adblue"
            >
              ADBLUE
            </label>
          </li>
          <li class="flex items-center gap-2.5">
            <input
              class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
              type="checkbox"
              id="sprayers"
            />
            <label
              class="text-sm text-gray-900"
              for="sprayers"
            >
              Розпилювачі
            </label>
          </li>
        </ul>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="coolingSystem"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="coolingSystem"
          >
            Система охолодження
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="suspensionAndSteering"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="suspensionAndSteering"
          >
            Підвіска та рульове управління
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="optics"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="optics"
          >
            Оптика
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="engine"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="engine"
          >
            Двигун
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="accessories"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="accessories"
          >
            Аксесуари
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="pneumaticSystem"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="pneumaticSystem"
          >
            Пневматична система
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="exhaustSystem"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="exhaustSystem"
          >
            Вихлопна система
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="transmission"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="transmission"
          >
            Трансмісія
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="filterAndOils"
          />
          <label
            class="text-sm font-medium text-gray-900"
            for="filterAndOils"
          >
            Фільтра та оливи
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <h1 class="mb-3 text-lg font-semibold text-gray-900">Стан</h1>
    <ul class="flex flex-col gap-4">
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="new"
            checked
          />
          <label
            for="new"
            class="text-sm font-medium text-gray-900"
          >
            Новий
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="h-4 w-4 rounded-sm border-slate-300 checked:bg-blue-600 focus:ring-transparent"
            type="checkbox"
            id="used"
          />
          <label
            for="used"
            class="text-sm font-medium text-gray-900"
          >
            Б\У
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <h1 class="mb-3 text-lg font-semibold text-gray-900">Вартість</h1>
    <div class="flex items-center gap-2.5">
      <input
        id="minPriceInput"
        placeholder="Від"
        type="text"
        class="borde w-[72px] rounded border-slate-300 bg-white text-sm font-semibold text-gray-900 [appearance:textfield] placeholder:text-zinc-300 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
      />
      <p class="text-sm font-semibold text-gray-900">-</p>
      <input
        id="maxPriceInput"
        placeholder="До"
        type="text"
        class="borde w-[72px] rounded border-slate-300 bg-white text-sm font-semibold text-gray-900 [appearance:textfield] placeholder:text-zinc-300 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
        value="5 022"
      />
    </div>
  </div>
  <div>
    <button
      class="whitespace-nowrap rounded-large bg-blue-600 px-9 py-3 text-xs font-bold text-white"
    >
      Застосувати фільтр
    </button>
  </div>
</div>
