<div
  class="bg-white card rounded-2xl inline-flex flex-col gap-5 py-5 pl-5 pr-14 max-w-[270px]"
>
  <div>
    <h1 class="text-gray-900 font-montserrat font-semibold text-lg mb-3">
      Марка вантажівки
    </h1>
    <ul class="flex flex-col gap-4">
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            checked
            id="daf"
          />
          <label
            for="daf"
            class="text-gray-900 font-medium font-montserrat text-sm"
          >
            DAF
          </label>
        </div>
        <ul class="ml-4 flex flex-col gap-2 mt-2">
          <li class="flex gap-2.5 items-center">
            <input
              class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
              type="checkbox"
              id="cf85"
            />
            <label
              class="text-gray-900 font-montserrat text-sm"
              for="cf85"
            >
              CF 85
            </label>
          </li>
          <li class="flex gap-2.5 items-center">
            <input
              class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
              type="checkbox"
              id="xf95"
            />
            <label
              class="text-gray-900 font-montserrat text-sm"
              for="xf95"
            >
              XF 95
            </label>
          </li>
          <li class="flex gap-2.5 items-center">
            <input
              class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
              type="checkbox"
              id="xf105"
            />
            <label
              class="text-gray-900 font-montserrat text-sm"
              for="xf105"
            >
              XF 105
            </label>
          </li>
        </ul>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="iveco"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="iveco"
          >
            IVECO
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="man"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="man"
          >
            MAN
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="scania"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="scania"
          >
            SCANIA
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="mercedesActros"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="mercedesActros"
          >
            MERCEDES ACTROS
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="volvo"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="volvo"
          >
            VOLVO
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <h1 class="text-gray-900 font-montserrat font-semibold text-lg mb-3">
      Запчастини
    </h1>
    <ul class="flex flex-col gap-4">
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="fuelSystem"
            checked
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="fuelSystem"
          >
            Паливна система
          </label>
        </div>
        <ul class="ml-4 flex flex-col gap-2 mt-2">
          <li class="flex gap-2.5 items-center">
            <input
              class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
              type="checkbox"
              id="fuelSystemParts"
            />
            <label
              class="text-gray-900 font-montserrat text-sm"
              for="fuelSystemParts"
            >
              Запасні частини ПНВТ
            </label>
          </li>
          <li class="flex gap-2.5 items-center">
            <input
              class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
              type="checkbox"
              id="adblue"
            />
            <label
              class="text-gray-900 font-montserrat text-sm"
              for="adblue"
            >
              ADBLUE
            </label>
          </li>
          <li class="flex gap-2.5 items-center">
            <input
              class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
              type="checkbox"
              id="sprayers"
            />
            <label
              class="text-gray-900 font-montserrat text-sm"
              for="sprayers"
            >
              Розпилювачі
            </label>
          </li>
        </ul>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="coolingSystem"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="coolingSystem"
          >
            Система охолодження
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="suspensionAndSteering"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="suspensionAndSteering"
          >
            Підвіска та рульове управління
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="optics"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="optics"
          >
            Оптика
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="engine"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="engine"
          >
            Двигун
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="accessories"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="accessories"
          >
            Аксесуари
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="pneumaticSystem"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="pneumaticSystem"
          >
            Пневматична система
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="exhaustSystem"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="exhaustSystem"
          >
            Вихлопна система
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="transmission"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="transmission"
          >
            Трансмісія
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="filterAndOils"
          />
          <label
            class="text-gray-900 font-medium font-montserrat text-sm"
            for="filterAndOils"
          >
            Фільтра та оливи
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <h1 class="text-gray-900 font-montserrat font-semibold text-lg mb-3">
      Стан
    </h1>
    <ul class="flex flex-col gap-4">
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="new"
            checked
          />
          <label
            for="new"
            class="text-gray-900 font-medium font-montserrat text-sm"
          >
            Новий
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-2.5">
          <input
            class="w-4 h-4 checked:bg-blue-600 rounded-sm border-slate-300 focus:ring-transparent"
            type="checkbox"
            id="used"
          />
          <label
            for="used"
            class="text-gray-900 font-medium font-montserrat text-sm"
          >
            Б\У
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <h1 class="text-gray-900 font-montserrat font-semibold text-lg mb-3">
      Вартість
    </h1>
    <div class="flex items-center gap-2.5">
      <input
        id="minPriceInput"
        placeholder="Від"
        type="text"
        class="rounded bg-white borde border-slate-300 font-montserrat w-[72px] font-semibold text-sm placeholder:text-zinc-300 text-gray-900 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
      />
      <p class="text-sm font-semibold font-montserrat text-gray-900">-</p>
      <input
        id="maxPriceInput"
        placeholder="До"
        type="text"
        class="rounded bg-white borde border-slate-300 font-montserrat w-[72px] font-semibold text-sm placeholder:text-zinc-300 text-gray-900 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
        value="5 022"
      />
    </div>
  </div>
  <div>
    <button
      class="font-bold font-montserrat text-xs text-white bg-blue-600 py-3 rounded-large px-9 whitespace-nowrap"
    >
      Застосувати фільтр
    </button>
  </div>
</div>
