<div class="bg-gray-100 py-6 font-montserrat">
  <div class="max-w-[1440px] mx-auto flex justify-around">
    <div>
      <img
        src="/src/assets/HeaderLogo.png"
        alt=""
      >
    </div>
    <ul class="text-gray-900 flex justify-center items-center gap-[73px] select-none">
      <li class="font-bold">Головна</li>
      <li>
        <div class="flex">
          <p>Каталог</p>
          <p
            class="font-medium text-blue-600 px-1 pt-1 text-[10px] bg-blue-100 rounded-md relative bottom-2"
            id="catalogItemsFooter"
          >2000</p>
        </div>
      </li>
      <li>Послуги</li>
      <li>Про нас</li>
      <li>Контакти</li>
    </ul>
  </div>
</div>