<div class="bg-gray-100 py-6 font-montserrat">
  <div class="max-w-[1440px] px-36 mx-auto flex justify-between">
    <a href="/">
      <img
        src="/src/assets/Logo.svg"
        alt="service tir logo"
      >
    </a>
    <ul class="text-gray-900 flex justify-center items-center gap-[73px] select-none">
      <li class="font-bold">
        <a href="/">
          Головна
        </a>
      </li>
      <li>
        <a
          href="/catalog/"
          class="flex"
        >
          <p>
            Каталог
          </p>
          <p
            class="font-medium text-blue-600 px-1 pt-1 text-[10px] bg-blue-100 rounded-md relative bottom-2"
            id="catalogItemsFooter"
          >
            2000
          </p>
        </a>
      </li>
      <li>
        <a href="/services/">Послуги</a>
      </li>
      <li>
        <a href="#">Про нас</a>
      </li>
      <li>
        <a href="/contacts/">Контакти</a>
      </li>
    </ul>
  </div>
</div>