<div class="bg-gray-100 py-6 font-montserrat">
  <div
    class="max-w-[1440px] px-5 2xl:px-[150px] mx-auto lg:flex justify-between"
  >
    <a href="/">
      <img
        src="/src/assets/Logo.svg"
        alt="service tir logo"
      />
    </a>
    <ul
      class="text-gray-900 flex lg:justify-center items-center lg:gap-[53px] gap-9 select-none flex-wrap lg:mt-0 mt-8"
    >
      <li class="font-bold">
        <a href="/"> Головна </a>
      </li>
      <li>
        <a
          href="/catalog/"
          class="flex"
        >
          <p>Каталог</p>
          <p
            class="font-medium text-blue-600 px-1 pt-1 text-[10px] bg-blue-100 rounded-md relative bottom-2"
            id="catalogItemsFooter"
          >
            2000
          </p>
        </a>
      </li>
      <li>
        <a href="/services/">Послуги</a>
      </li>
      <li>
        <a
          href="/about-us/"
          class="whitespace-nowrap"
          >Про нас</a
        >
      </li>
      <li>
        <a href="/contacts/">Контакти</a>
      </li>
      <li>
        <a href="/reviews/">Відгуки</a>
      </li>
      <li>
        <a href="/articles/">Статті</a>
      </li>
    </ul>
  </div>
</div>
