<div class="py-5 font-montserrat text-sm text-gray-900">
  <div class="max-w-[1440px] px-36 mx-auto flex items-center justify-between">
    <a href="/">
      <img
        src="/src/assets/Logo.svg"
        alt="service tir logo"
      >
    </a>
    <div class="max-w-lg flex items-end w-full gap-6">
      <img
        class="p-3 bg-gray-100 rounded-full"
        src="/src/assets/searchIcon.svg"
        alt="search icon"
      >
      <input
        class="
        border-b border-x-0 border-t-0 p-0 pb-2 border-gray-100 font-montserrat font-medium text-xs leading-7
        placeholder:text-slate-500 text-gray-900 w-full focus:ring-0
        "
        type="text"
        placeholder="Напишіть назву товару"
      >
    </div>
    <div class="flex h-5 gap-10">
      <a href="/registration/">
        <img
          src="/src/assets/userIcon.svg"
          alt="user icon"
        >
      </a>
      <div class="relative">
        <img
          src="/src/assets/heartIcon.svg"
          alt="heart icon"
        >
        <div
          id="favorite"
          class="
          absolute text-[8px] inline-flex items-center border border-white rounded-full
          justify-center h-2.5 text-sky-500 px-0.5 -top-0.5 left-3.5 text-center bg-cyan-100
          "
        >
          0
        </div>
      </div>
      <div class="relative">
        <img
          src="/src/assets/notificationIcon.svg"
          alt="notify icon"
        >
        <div class="
             absolute text-[8px] inline-flex items-center border border-white rounded-full
             justify-center px-0.5 h-2.5 text-red-600 left-2.5 -top-0.5 text-center bg-red-100
             ">
          99+
        </div>
      </div>
      <div class="flex items-center gap-2">
        <div class="relative">
          <img
            src="/src/assets/cartIcon.svg"
            alt="cart icon"
          >
          <div class="
             absolute text-[8px] inline-flex items-center border border-white rounded-full
             justify-center px-0.5 h-2.5 text-emerald-500 left-3.5 -top-0.5 text-center bg-green-100
             ">
            6
          </div>
        </div>
        <div class="w-[80px] truncate">
          &#8372; <span id="cartCost">10000</span>
        </div>
      </div>
    </div>
  </div>
</div>