<div
  id="header"
  class="relative z-20 py-7 text-sm text-gray-900 md:py-5"
>
  <div
    class="mx-auto hidden items-center justify-between gap-2 px-8 md:flex xl:max-w-[1440px] xl:px-36"
  >
    <a href="/">
      <img
        src="/src/assets/Logo.svg"
        alt="service tir logo"
        class="max-w-none"
      />
    </a>
    {{>Search}}
    <div class="flex h-5 gap-10">
      <a href="/registration/">
        <img
          src="/src/assets/userIcon.svg"
          alt="user icon"
          class="max-w-none"
        />
      </a>
      <div class="relative">
        <img
          src="/src/assets/heartIcon.svg"
          alt="heart icon"
          class="max-w-none"
        />
        <div
          id="favorite"
          class="absolute -top-0.5 left-3.5 inline-flex h-2.5 items-center justify-center rounded-full border border-white bg-cyan-100 px-0.5 text-center text-[8px] text-sky-500"
        >
          0
        </div>
      </div>
      <a href="/cart/">
        <div class="flex items-center gap-2">
          <div class="relative">
            <img
              src="/src/assets/cartIcon.svg"
              alt="cart icon"
              class="max-w-none"
            />
            <div
              class="absolute -top-0.5 left-3.5 inline-flex h-2.5 items-center justify-center rounded-full border border-white bg-green-100 px-0.5 text-center text-[8px] text-emerald-500"
            >
              6
            </div>
          </div>
          <div class="w-[80px] truncate">
            &#8372; <span id="cartCost">10000</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="px-5 md:hidden">
    <div class="flex items-center justify-between">
      <a href="/">
        <img
          src="/src/assets/Logo.svg"
          alt="service tir logo"
          class="max-w-none"
        />
      </a>
      <button id="menuBtn">
        <img
          src="/src/assets/menuIcon.svg"
          alt="menuIcon"
          class="max-w-none"
        />
      </button>
      <button
        id="closeHeaderButton"
        class="hidden"
      >
        <img
          src="/src/assets/xMarkWhiteIcon.svg"
          alt="x-mark icon"
        />
      </button>
    </div>
    <div
      class="mt-[54px] hidden w-full flex-col gap-6 text-white"
      id="dropMenu"
    >
      <ul class="flex flex-col gap-5">
        <li>
          <a href="/">Головна</a>
        </li>
        <li>
          <a href="/catalog/">Каталог</a>
        </li>
        <li>
          <a href="/services/">Послуги</a>
        </li>
        <li>
          <a href="/about-us/">Про нас</a>
        </li>
        <li>
          <a href="/contacts/">Контакти</a>
        </li>
        <li>
          <a href="/reviews/">Відгуки</a>
        </li>
        <li>
          <a href="/articles/">Статті</a>
        </li>
      </ul>
      <hr class="h-px border-0 bg-zinc-50/50" />
      <a
        href="/registration/"
        class="block"
      >
        <div class="flex items-center gap-2">
          <img
            src="/src/assets/userWhiteIcon.svg"
            alt="user icon"
          />
          <p>Особистий кабінет</p>
        </div>
      </a>
      <div class="flex items-center gap-2">
        <div class="relative">
          <img
            src="/src/assets/heartWhiteIcon.svg"
            alt="heart icon"
          />
          <div
            id="favorite"
            class="absolute -top-0.5 left-3.5 inline-flex h-2.5 items-center justify-center rounded-full border border-white bg-cyan-100 px-0.5 text-center text-[8px] text-sky-500"
          >
            0
          </div>
        </div>
        <p>Обране</p>
      </div>
      <a href="/cart/">
        <div class="flex items-center gap-1">
          <div class="relative">
            <img
              src="/src/assets/cartWhiteIcon.svg"
              alt="cart icon"
            />
            <div
              class="absolute -top-0.5 left-3.5 inline-flex h-2.5 items-center justify-center rounded-full border border-white bg-green-100 px-0.5 text-center text-[8px] text-emerald-500"
            >
              6
            </div>
          </div>
          <div class="flex gap-2">
            <p>&#8372;10 000</p>
            <p>Кошик</p>
          </div>
        </div>
      </a>
      {{>SearchMobile }}
    </div>
  </div>
</div>

<script
  type="module"
  src="/src/scripts/Header.js"
></script>
