<div class="py-5 font-montserrat text-sm text-gray-900">
  <div class="w-[1440px] px-36 mx-auto flex items-center justify-between">
    <a href="/">
      <img
        src="/src/assets/HeaderLogo.png"
        alt="lviv autobaza1 logo"
      >
    </a>
    <div class="relative flex items-center max-w-sm w-full">
      <input
        class="bg-zinc-100 truncate w-full outline-none rounded-l-lg py-2.5 pl-3.5 border-none focus:ring-0"
        placeholder="Напишіть назву товару"
        type="text"
      >
      <div class="flex items-center flex-none gap-0.5 px-4 py-2.5 bg-zinc-100 rounded-r-lg h-11">
        <p>Пошук</p>
        <img
          src="/src/assets/searchIcon.svg"
          alt="search icon"
        >
      </div>
    </div>
    <div class="flex h-5 gap-10">
      <div class="flex items-center gap-1">
        <img
          src="/src/assets/userIcon.svg"
          alt="user icon"
        >
        <div class="text-xs font-medium">
          <p>Олександр</p>
          <p class="text-blue-600">Вийти</p>
        </div>
      </div>
      <div class="relative">
        <img
          src="/src/assets/heartIcon.svg"
          alt="heart icon"
        >
        <div
          id="favorite"
          class="
          absolute text-[8px] inline-flex items-center border border-white rounded-full
          justify-center h-2.5 text-sky-500 px-0.5 -top-0.5 left-3.5 text-center bg-cyan-100
          "
        >
          0
        </div>
      </div>
      <div class="relative">
        <img
          src="/src/assets/notificationIcon.svg"
          alt="notify icon"
        >
        <div class="
             absolute text-[8px] inline-flex items-center border border-white rounded-full
             justify-center px-0.5 h-2.5 text-red-600 left-2.5 -top-0.5 text-center bg-red-100
             ">
          99+
        </div>
      </div>
      <div class="flex items-center gap-2">
        <div class="relative">
          <img
            src="/src/assets/cartIcon.svg"
            alt="cart icon"
          >
          <div class="
             absolute text-[8px] inline-flex items-center border border-white rounded-full
             justify-center px-0.5 h-2.5 text-emerald-500 left-3.5 -top-0.5 text-center bg-green-100
             ">
            6
          </div>
        </div>
        <div class="w-[80px] truncate">
          &#8372; <span id="cartCost">10000</span>
        </div>
      </div>
    </div>
  </div>
</div>