<div class="py-5 bg-gray-100 font-montserrat text-sm">
  <ul class="text-gray-900 flex justify-center items-center gap-[73px] select-none">
    <li class="font-bold underline underline-offset-[22px] decoration-2">
      <a href="/">
        Головна
      </a>
    </li>
    <li>
      <a
        class="flex"
        href="/catalog/"
      >
        <p>
          Каталог
        </p>
        <p
          class="font-medium text-blue-600 px-1 text-[10px] bg-blue-100 rounded-md relative bottom-2"
          id="catalogItems"
        >
          2000
        </p>
      </a>
    </li>
    <li>
      <a href="/services/">Послуги</a>
    </li>
    <li>
      <a href="#">Про нас</a>
    </li>
    <li>
      <a href="/contacts/">Контакти</a>
    </li>
  </ul>
</div>