<dialog
  class="focus:outline-0 bg-white rounded-large font-montserrat backdrop:backdrop-blur-sm backdrop:border backdrop:border-black/10 backdrop:bg-black/25 open:animate-fade-in open:backdrop:animate-fade-in"
  id="modalWindow"
>
  <div class="flex-col items-center gap-8 px-[75px] py-10 flex">
    <div class="flex flex-col items-center gap-3">
      <img
        src="/src/assets/checkWhite.svg"
        class="p-3 bg-emerald-500 rounded-full"
      />
      <h1 class="text-xl font-bold tracking-[0.4px] leading-[30px]">
        Замовлення оформлене
      </h1>
      <p class="text-center max-w-[450px] leading-6 tracking-[0.32px]">
        Ваше замовлення успішно оформлене. На протязі 24 годин з вами звʼяжеться
        наш менеджер.
      </p>
    </div>
    <button
      class="bg-gray-100 py-3 px-24 rounded-large text-gray-900 font-semibold text-sm focus:outline-0"
      id="HomePageBtn"
    >
      На головну
    </button>
  </div>
</dialog>

<script
  type="module"
  src="/src/scripts/OrderModal.js"
></script>
