<dialog
  class="rounded-large bg-white backdrop:border backdrop:border-black/10 backdrop:bg-black/25 backdrop:backdrop-blur-sm open:animate-fade-in open:backdrop:animate-fade-in focus:outline-0"
  id="modalWindow"
>
  <div class="flex flex-col items-center gap-8 px-[75px] py-10">
    <div class="flex flex-col items-center gap-3">
      <img
        src="/src/assets/checkWhite.svg"
        class="rounded-full bg-emerald-500 p-3"
      />
      <h1 class="text-xl font-bold leading-[30px] tracking-[0.4px]">
        Замовлення оформлене
      </h1>
      <p class="max-w-[450px] text-center leading-6 tracking-[0.32px]">
        Ваше замовлення успішно оформлене. На протязі 24 годин з вами звʼяжеться
        наш менеджер.
      </p>
    </div>
    <button
      class="rounded-large bg-gray-100 px-24 py-3 text-sm font-semibold text-gray-900 focus:outline-0 transition-colors duration-300 hover:bg-gray-200 hover:text-gray-950"
      id="HomePageBtn"
    >
      На головну
    </button>
  </div>
</dialog>

<script
  type="module"
  src="/src/scripts/OrderModal.js"
></script>
