<div
  class="bg-white rounded-2xl border border-slate-300 md:max-w-[415px] relative w-full min-[415px]:flex p-3"
>
  <img
    src="/src/assets/xMarkIcon.svg"
    alt="x mark btn"
    class="absolute top-3 right-3"
  />
  <div
    class="rounded-xl inline-flex md:flex md:items-center md:justify-center bg-indigo-100 mr-4"
  >
    <img
      src="/src/assets/scaniaTank.png"
      alt="order product image"
      class="resize-none"
    />
  </div>
  <div>
    <h2 class="max:w-[189px] w-full font-semibold leading-small text-sm">
      Паливний бак Scania на 50 літрів
    </h2>
    <div class="text-gray-900 flex gap-8">
      <p class="text-sm">10 шт.</p>
      <p class="font-semibold">2200 &#8372;</p>
    </div>
  </div>
</div>
