<div class="bg-white rounded-2xl border border-slate-300 max-w-[415px] relative w-full flex p-3">
  <img
    src="/src/assets/xMarkIcon.svg"
    alt="x mark btn"
    class="absolute top-3 right-3"
  >
  <div class="rounded-xl flex items-center justify-center bg-indigo-100 mr-4">
    <img
      src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
      alt="order product image"
    >
  </div>
  <div>
    <h2 class="w-[189px] font-semibold leading-[22px] text-sm">Паливний бак Scania на 50 літрів</h2>
    <div class="text-gray-900 flex gap-8">
      <p class="text-sm">10 шт.</p>
      <p class="font-semibold">2200 &#8372;</p>
    </div>
  </div>
</div>