<div class="
     border border-gray-100 bg-white rounded-2xl font-montserrat max-w-[848px]
     [box-shadow:_0px_2px_4px_0px_rgba(0,_0,_0,_0.08),_0px_0px_6px_0px_rgba(0,_0,_0,_0.02)]
     ">
  <div class="bg-gray-100 px-6 py-4 flex rounded-t-2xl justify-between">
    <div class="w-[257px]">
      <p class="text-sm font-semibold text-gray-900 tracking-[0.28px] mb-2">
        Заказ № 320399
      </p>
      <p class="text-gray-900 tracking-[0.24px] text-xs">
        20 жовтня 2023
      </p>
    </div>
    <div class="w-[257px]">
      <p class="text-sm font-semibold text-gray-900 tracking-[0.28px] mb-2">
        Статус
      </p>
      <p class="text-gray-900 tracking-[0.24px] text-xs">
        Доставлено 20 жовтня 2023
      </p>
    </div>
    <div class="w-[257px]">
      <p class="text-sm font-semibold text-gray-900 tracking-[0.28px] mb-2">
        10 029 &#8372;
      </p>
      <p class="text-xs font-medium tracking-[0.24px] text-emerald-500">
        Оплачено
      </p>
    </div>
  </div>
  <div class="rounded-b-2xl p-4 bg-white grid gap-4 items-center grid-cols-7">
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      >
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      >
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      >
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      >
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      >
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      >
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      >
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      >
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      >
    </div>
  </div>
</div>