<div
  class="border border-gray-100 bg-white rounded-2xl font-montserrat max-w-[848px] [box-shadow:_0px_2px_4px_0px_rgba(0,_0,_0,_0.08),_0px_0px_6px_0px_rgba(0,_0,_0,_0.02)]"
>
  <div
    class="bg-gray-100 px-4 md:px-6 py-4 flex items-center rounded-2xl justify-between"
  >
    <div class="w-[257px]">
      <p
        class="md:text-sm text-xs font-semibold text-gray-900 tracking-[0.24px] md:tracking-[0.28px] mb-2"
      >
        Заказ № 320399
      </p>
      <p class="text-gray-900 tracking-[0.24px] text-xs">20 жовтня 2023</p>
    </div>
    <div class="w-[257px]">
      <p
        class="md:text-sm text-xs hidden md:block font-semibold text-gray-900 tracking-[0.24px] md:tracking-[0.28px] mb-2"
      >
        Доставка планується
      </p>
      <p
        class="md:text-sm md:hidden text-xs font-semibold text-gray-900 tracking-[0.24px] md:tracking-[0.28px] mb-2"
      >
        Доставка
      </p>
      <p class="text-gray-900 tracking-[0.24px] text-xs">22 жовтня 2023</p>
    </div>
    <div class="w-[257px]">
      <p
        class="md:text-sm text-xs font-semibold text-gray-900 tracking-[0.24px] md:tracking-[0.28px] mb-2"
      >
        10 029 &#8372;
      </p>
      <p class="text-xs font-medium tracking-[0.24px] text-emerald-500">
        Оплачено
      </p>
    </div>
  </div>
  <div
    class="rounded-b-2xl md:px-4 py-4 px-3 bg-white flex flex-wrap md:grid gap-3 items-center grid-cols-7"
  >
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      />
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      />
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      />
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      />
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      />
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      />
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      />
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      />
    </div>
    <div class="rounded-xl flex items-center justify-center bg-indigo-100">
      <img
        src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
        alt="result product image"
      />
    </div>
  </div>
</div>
