<div class="rounded-2xl font-montserrat text-gray-900 flex flex-col justify-between px-3 pt-3 pb-6 relative card">
  <div class="absolute z-10 top-6 -left-[9px]">
    <div class="text-white pl-3 pr-4 font-bold py-[5px] bg-no-repeat text-center text-[10px] leading-4 bg-[url('/src/assets/discountGreen.svg')]">-20%</div>
  </div>
  <div>
    <div class="min-w-[248px] h-[188px] rounded-2xl bg-indigo-100 mb-3 relative flex justify-center items-center">
      <img
        class="p-1.5 bg-white rounded-full absolute right-2 top-2"
        src="/src/assets/likeIcon.svg"
        alt="like icon"
      >
      <img
        class="max-h-full"
        src="/src/assets/zapchast-raspredval---1642418711000877346_big--22011713251077627800 1.png"
        alt="product image"
      >
    </div>
    <h1 class="font-bold text-lg mb-2 leading-7">Распредвал для Scania</h1>
    <div class="flex mb-2">
      <img
        src="/src/assets/starIcon.svg"
        alt="star"
      >
      <img
        src="/src/assets/starIcon.svg"
        alt="star"
      >
      <img
        src="/src/assets/starIcon.svg"
        alt="star"
      >
      <img
        src="/src/assets/starIcon.svg"
        alt="star"
      >
      <img
        src="/src/assets/starIcon.svg"
        alt="star"
      >
      <p class="text-xs">
        <span class="text-blue-600 font-medium leading-5">4.8</span> (127 відгуків)
      </p>
    </div>
    <div class="text-neutral-500 text-xs max-w-[343px] mb-4 opacity-70 leading-5">
      Это текст-"рыба", часто используемый в печати и вэб-дизайне.
      Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
    </div>
  </div>
  <div class="flex justify-between items-end">
    <div class="max-w-[122px]">
      <div class="mb-1 flex gap-2">
        <p class="text-gray-400 opacity-50 line-through whitespace-nowrap font-bold text-xs leading-5">2200 &#8372;</p>
        <p class="pr-6 pl-1 text-xs text-white whitespace-nowrap font-bold z-10 bg-[url('/src/assets/discountBlue.svg')] bg-no-repeat h-5 flex items-center leading-5">
          - 200
        </p>
      </div>
      <div class="text-2xl font-bold leading-none">2200 &#8372;</div>
    </div>
    <button class="bg-blue-600 text-white py-3 px-9 text-xs font-bold rounded-[30px] leading-none">В кошик</button>
  </div>
</div>