<a href="/product/">
  <div
    class="rounded-2xl font-montserrat text-gray-900 inline-flex flex-col justify-between px-3 pt-3 pb-6 max-w-[184px] lg:max-w-none relative card"
  >
    <div class="absolute z-10 top-6 -left-[9px]">
      <div
        class="text-white pl-3 pr-4 font-bold py-[5px] bg-no-repeat text-center text-[10px] leading-4 bg-[url('/src/assets/discountRed.svg')]"
      >
        -20%
      </div>
    </div>
    <div>
      <div
        class="lg:min-w-[248px] w-[160px] lg:h-[188px] h-[130px] rounded-2xl bg-indigo-100 mb-3 relative flex justify-center items-center"
      >
        <img
          class="p-1.5 bg-blue-600 rounded-full absolute right-2 top-2"
          src="/src/assets/likedIcon.svg"
          alt="like icon"
        />
        <img
          src="/src/assets/sl111386686_460x330 1.png"
          alt="product image"
        />
      </div>
      <h1 class="font-bold text-sm lg:text-lg mb-2 leading-7">
        Распредвал для Scania
      </h1>
      <div class="flex mb-2">
        <img
          src="/src/assets/starIcon.svg"
          alt="star"
          class="lg:h-6 lg:w-6 w-4 h-4"
        />
        <img
          src="/src/assets/starIcon.svg"
          alt="star"
          class="lg:h-6 lg:w-6 w-4 h-4"
        />
        <img
          src="/src/assets/starIcon.svg"
          alt="star"
          class="lg:h-6 lg:w-6 w-4 h-4"
        />
        <img
          src="/src/assets/starIcon.svg"
          alt="star"
          class="lg:h-6 lg:w-6 w-4 h-4"
        />
        <img
          src="/src/assets/starIcon.svg"
          alt="star"
          class="lg:h-6 lg:w-6 w-4 h-4"
        />
        <p class="lg:text-xs text-[10px] whitespace-nowrap">
          <span class="text-blue-600 font-medium leading-5">4.8</span> (127
          відгуків)
        </p>
      </div>
      <div
        class="text-neutral-500 lg:text-xs text-[10px] max-w-[244px] mb-4 opacity-70 leading-5"
      >
        Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
        является стандартной "рыбой" для текстов на латинице с начала XVI века.
      </div>
    </div>
    <div class="lg:flex justify-between items-end">
      <div class="max-w-[122px] mb:mb-0 mb-3">
        <div class="mb-1 flex gap-2">
          <p
            class="text-gray-400 opacity-50 line-through whitespace-nowrap font-bold lg:text-xs text-[10px] leading-5"
          >
            2200 &#8372;
          </p>
          <p
            class="pr-6 pl-1 lg:text-xs text-[10px] text-white whitespace-nowrap font-bold z-10 bg-[url('/src/assets/discountBlue.svg')] bg-no-repeat h-5 flex items-center leading-5"
          >
            - 200
          </p>
        </div>
        <div class="lg:text-2xl text-xl font-bold leading-none">
          2200 &#8372;
        </div>
      </div>
      <button
        class="bg-blue-600 text-white py-3 px-9 text-xs font-bold rounded-[30px] leading-none"
      >
        В кошик
      </button>
    </div>
  </div>
</a>
