<div class="font-montserrat flex flex-col bgw-white rounded-[10px] items-center max-w-[647px] px-16 pb-9 pt-10 reviewCard">
  <img
    class="h-24 w-24 rounded-full mb-5"
    src="/src/assets/ProfileImage.png"
    alt="profile image"
  >
  <h1 class="text-center text-3xl font-bold leading-[48px] uppercase mb-px">Ann Lubin</h1>
  <h2 class="text-center font-medium leading-8 mb-2">Замовила хімчистку авто</h2>
  <p class="text-center text-neutral-500 leading-6">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae.
    Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus,
    ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.
  </p>
</div>