<div
  class="card flex flex-col gap-2 rounded-[10px] bg-white p-4 min-[425px]:min-w-[387px] lg:max-w-[560px] lg:gap-1 lg:p-6 h-full"
>
  <h1 class="font-bold uppercase text-gray-800 lg:text-xl">Ann Lubin</h1>
  <div class="block items-center gap-2 min-[425px]:flex lg:gap-3">
    <p
      class="whitespace-nowrap text-xs font-medium leading-[30px] text-gray-800 lg:text-sm"
    >
      Відгук про товар:
    </p>
    <div class="flex items-center gap-1">
      <p
        class="whitespace-nowrap text-xs font-semibold leading-[30px] text-blue-600 lg:text-sm"
      >
        Диск гальмівний Scania
      </p>
      <div class="flex items-center">
        <img
          src="/src/assets/starIcon.svg"
          alt="star"
          class="h-4 w-4 max-w-none"
        />
        <img
          src="/src/assets/starIcon.svg"
          alt="star"
          class="h-4 w-4 -ml-1 max-w-none"
        />
        <img
          src="/src/assets/starIcon.svg"
          alt="star"
          class="h-4 w-4 -ml-1 max-w-none"
        />
        <img
          src="/src/assets/starIcon.svg"
          alt="star"
          class="h-4 w-4 -ml-1 max-w-none"
        />
        <img
          src="/src/assets/starIcon.svg"
          alt="star"
          class="h-4 w-4 -ml-1 max-w-none"
        />
      </div>
    </div>
  </div>
  <p class="text-[10px] leading-small text-neutral-500 lg:text-xs">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante
    velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam
    tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc
    libero urna, feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing
    elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.
    Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus
    tempor, ac nunc libero urna, feugiat.
  </p>
</div>
