<div class="reviewsSwiper overflow-hidden lg:px-2 lg:pb-4">
  <div class="swiper-wrapper mb-6">
    <div class="swiper-slide">{{>ReviewCard}}</div>
    <div class="swiper-slide">{{>ReviewCard}}</div>
    <div class="swiper-slide">{{>ReviewCard}}</div>
    <div class="swiper-slide">{{>ReviewCard}}</div>
    <div class="swiper-slide">{{>ReviewCard}}</div>
    <div class="swiper-slide">{{>ReviewCard}}</div>
  </div>
  <div class="flex items-end justify-center gap-5 pb-4">
    <button
      class="paragraphIcon prevReview rounded-full bg-white p-2 transition-all duration-300 hover:scale-105 hover:bg-zinc-50"
    >
      <img
        class="h-6 w-6"
        src="/src/assets/chevronLeft.svg"
      />
    </button>
    <div class="swiper-pagination !relative !w-auto"></div>
    <button
      class="paragraphIcon nextReview rounded-full bg-white p-2 transition-all duration-300 hover:scale-105 hover:bg-zinc-50"
    >
      <img
        class="h-6 w-6"
        src="/src/assets/chevronRight.svg"
      />
    </button>
  </div>
</div>
