<dialog
  class="rounded-large bg-white backdrop:border backdrop:border-black/10 backdrop:bg-black/25 backdrop:backdrop-blur-sm open:animate-fade-in open:backdrop:animate-fade-in focus:outline-0"
  id="modalWindow"
>
  <form
    id="form"
    class="relative flex w-full flex-col items-center gap-8 px-6 py-10 md:px-[120px]"
  >
    <button
      id="xMarkClose"
      class="absolute right-4 top-4 focus:outline-0"
    >
      <img
        src="/src/assets/xMarkIcon.svg"
        alt="xMark icon"
      />
    </button>
    <div class="flex flex-col items-center gap-3">
      <h1
        class="text-center font-semibold leading-[30px] tracking-[0.4px] text-black"
      >
        Залишити відгук
      </h1>
      <div class="flex gap-3 min-[425px]:gap-4">
        <div class="flex flex-col items-center">
          <img
            src="/src/assets/starBigIcon.svg"
            class="h-6 w-6 md:h-12 md:w-12"
          />
          <p
            class="text-[10px] font-medium leading-[18px] text-slate-700 min-[425px]:text-xs"
          >
            Погано
          </p>
        </div>
        <div class="flex flex-col items-center">
          <img
            src="/src/assets/starBigIcon.svg"
            class="h-6 w-6 md:h-12 md:w-12"
          />
          <p
            class="whitespace-nowrap text-[10px] font-medium leading-[18px] text-slate-700 min-[425px]:text-xs"
          >
            Так собі
          </p>
        </div>
        <div class="flex flex-col items-center">
          <img
            src="/src/assets/starBigIcon.svg"
            class="h-6 w-6 md:h-12 md:w-12"
          />
          <p
            class="text-[10px] font-medium leading-[18px] text-slate-700 min-[425px]:text-xs"
          >
            Нормально
          </p>
        </div>
        <div class="flex flex-col items-center">
          <img
            src="/src/assets/starBigLightIcon.svg"
            class="h-6 w-6 md:h-12 md:w-12"
          />
          <p
            class="text-[10px] font-medium leading-[18px] text-slate-700 min-[425px]:text-xs"
          >
            Добре
          </p>
        </div>
        <div class="flex flex-col items-center">
          <img
            src="/src/assets/starBigLightIcon.svg"
            class="h-6 w-6 md:h-12 md:w-12"
          />
          <p
            class="text-[10px] font-medium leading-[18px] text-slate-700 min-[425px]:text-xs"
          >
            Відміно
          </p>
        </div>
      </div>
      <div class="flex w-full flex-col gap-4">
        <label class="font-slate-700 text-sm font-semibold leading-small">
          Імʼя
        </label>
        <input
          class="rounded-lg border-slate-300 p-4 text-sm font-medium leading-small text-slate-700"
          type="text"
          name="name"
          value="Даниїл"
        />
      </div>
      <div class="flex w-full flex-col gap-4">
        <label class="font-slate-700 text-sm font-semibold leading-small">
          Ваш відгук
        </label>
        <textarea
          name="reviewText"
          class="h-36 w-full max-w-[370px] resize-none overflow-hidden rounded-lg border-slate-300 p-4 text-sm font-medium leading-small text-slate-700"
        >
Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        </textarea>
      </div>
    </div>
    <button
      id="sendBtn"
      type="button"
      class="whitespace-nowrap rounded-large bg-blue-600 px-9 py-3 text-xs font-bold text-white transition-colors duration-300 hover:bg-blue-700 hover:text-zinc-100"
    >
      Залишити відгук
    </button>
  </form>
  <div
    id="successfully"
    class="hidden flex-col items-center gap-8 px-6 py-10 md:px-[75px]"
  >
    <div class="flex flex-col items-center gap-3">
      <img
        src="/src/assets/checkWhite.svg"
        class="rounded-full bg-emerald-500 p-3"
      />
      <h1 class="text-center text-xl font-bold leading-[30px] tracking-[0.4px]">
        Ваш відгук надіслано
      </h1>
      <p class="max-w-[450px] text-center leading-6 tracking-[0.32px]">
        Дякуюємо за ваш відгук, ваша думка дуже важлива для нас.
      </p>
    </div>
    <button
      class="rounded-large bg-gray-100 px-24 py-3 text-sm font-semibold text-gray-900 focus:outline-0 transition-colors duration-300 hover:bg-gray-200 hover:text-gray-950"
      id="closeReviewModal"
      type="button"
    >
      Далі
    </button>
  </div>
</dialog>

<script
  type="module"
  src="/src/scripts/ReviewModal.js"
></script>
