<div class="relative z-20 max-w-lg w-full">
  <div
    id="search"
    class="max-w-lg flex items-end w-full relative gap-6 bg-white z-10 rounded-3xl"
  >
    <img
      class="p-3 bg-gray-100 rounded-full"
      src="/src/assets/searchIcon.svg"
      alt="search icon"
      id="searchBtn"
    >
    <input
      class="
      border-b border-x-0 border-t-0 p-0 pb-2 border-gray-100 font-montserrat font-medium text-xs leading-7
      placeholder:text-slate-500 text-gray-900 focus:ring-0 w-[75%]
      "
      id="searchInput"
      type="text"
      placeholder="Напишіть назву товару"
    >
  </div>
  <div
    id="searchResult"
    class="bg-white absolute w-full rounded-2xl flex-col gap-1 shadow-2xl z-10 top-[54px] hidden"
  >
    {{>SearchResultCard}}
    <hr>
    {{>SearchResultCard}}
    <hr>
    {{>SearchResultCard}}
    <hr>
    {{>SearchResultCard}}
    <hr>
    <a
      class="text-blue-600 font-montserrat font-semibold leading-[22px] text-sm px-2 py-3"
      href="#"
    >
      Показати всі (239)
    </a>
  </div>
  <div
    id="overlay"
    class="fixed w-full h-full inset-0 bg-black/25 blur-sm border border-black/10 hidden"
  ></div>
</div>

<script
  type="module"
  src="/src/scripts/Search.js"
></script>