<a href="/product/">
  <div class="flex items-center justify-between rounded-2xl bg-white px-4 py-3">
    <div class="flex items-center gap-3">
      <div class="flex items-center justify-center rounded-xl bg-indigo-100">
        <img
          src="/src/assets/scaniaTank.png"
          alt="result product image"
        />
      </div>
      <div>
        <h2 class="text-sm font-semibold leading-small text-gray-900">
          Паливний бак Scania
        </h2>
        <div class="flex items-center gap-4">
          <p class="text-xs leading-5 text-neutral-500">Код: 6422889</p>
          <div class="flex items-center">
            <img
              src="/src/assets/starIcon.svg"
              alt="star"
              class="h-4 w-4 max-w-none"
            />
            <img
              src="/src/assets/starIcon.svg"
              alt="star"
              class="h-4 w-4 -ml-1 max-w-none"
            />
            <img
              src="/src/assets/starIcon.svg"
              alt="star"
              class="h-4 w-4 -ml-1 max-w-none"
            />
            <img
              src="/src/assets/starIcon.svg"
              alt="star"
              class="h-4 w-4 -ml-1 max-w-none"
            />
            <img
              src="/src/assets/starIcon.svg"
              alt="star"
              class="h-4 w-4 -ml-1 max-w-none"
            />
            <p class="text-xs">
              <span class="font-medium leading-5 text-blue-600">4.8</span> (127
              відгуків)
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-xl font-semibold text-gray-900">2200 &#8372;</div>
  </div>
</a>
