<div class="relative z-20 w-full">
  <div
    id="searchMobile"
    class="flex items-end w-full relative gap-6 z-10 rounded-3xl"
  >
    <button
      class="p-2 bg-gray-100 rounded-[14px] w-[34px] h-[34px] transition-colors duration-300 hover:bg-gray-200"
      id="searchBtnMobile"
    >
      <img
        src="/src/assets/searchIcon.svg"
        alt="search icon"
      />
    </button>
    <input
      class="bg-blue-600 border-b focus:border-white border-x-0 border-t-0 p-0 pb-2 border-zinc-50 font-medium text-xs leading-7 placeholder:text-white/50 text-white focus:ring-0 w-[75%]"
      id="searchInputMobile"
      type="text"
      placeholder="Напишіть назву товару"
    />
  </div>
</div>

<script
  type="module"
  src="/src/scripts/SearchMobile.js"
></script>
