<a href="/product/">
  <div class="bg-white font-montserrat px-4 py-3 flex justify-between items-center rounded-2xl">
    <div class="flex gap-3 items-center">
      <div class="rounded-xl flex items-center justify-center bg-indigo-100">
        <img
          src="/src/assets/3486246549_toplivnyj-bak-scania 1.png"
          alt="result product image"
        >
      </div>
      <div>
        <h2 class="text-gray-900 font-semibold text-sm leading-[22px]">
          Паливний бак Scania
        </h2>
        <div class="flex gap-4 items-center">
          <p class="text-xs leading-5 text-neutral-500">Код: 6422889</p>
          <div class="flex">
            <img
              src="/src/assets/starIcon.svg"
              alt="star"
            >
            <img
              src="/src/assets/starIcon.svg"
              alt="star"
            >
            <img
              src="/src/assets/starIcon.svg"
              alt="star"
            >
            <img
              src="/src/assets/starIcon.svg"
              alt="star"
            >
            <img
              src="/src/assets/starIcon.svg"
              alt="star"
            >
            <p class="text-xs">
              <span class="text-blue-600 font-medium leading-5">4.8</span> (127 відгуків)
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-gray-900 text-xl font-semibold">
      2200 &#8372;
    </div>
  </div>
</a>