<div
  class="text-gray-900 md:flex bg-gray-100 font-montserrat tracking-[0.32px] py-2"
>
  <p class="max-w-[710px] font-medium w-full p-3">
    Ремонт двигуна Scania R-Series 4x2 2016 DC16 115
  </p>
  <div class="flex max-w-[418px] w-full">
    <p class="max-w-[266px] w-full p-3">до 10 днів</p>
    <p class="max-w-[152px] w-full p-3">15 500 &#8372;</p>
  </div>
</div>
