<div class="mb-6 flex flex-wrap gap-2 md:mb-10">
  <button
    class="rounded-full bg-blue-600 px-2 py-[5px] text-xs font-semibold leading-5 text-white transition-colors duration-300 hover:bg-blue-700 hover:text-zinc-100"
  >
    TIR Сервіс
  </button>
  <button
    class="rounded-full bg-[#F4F5F7] px-2 py-[5px] text-xs font-medium leading-5 text-slate-700 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700"
  >
    Віділ запчастин
  </button>
  <button
    class="rounded-full bg-[#F4F5F7] px-2 py-[5px] text-xs font-medium leading-5 text-slate-700 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700"
  >
    Мотор сервіс
  </button>
  <button
    class="rounded-full bg-[#F4F5F7] px-2 py-[5px] text-xs font-medium leading-5 text-slate-700 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700"
  >
    Турбо сервіс
  </button>
  <button
    class="rounded-full bg-[#F4F5F7] px-2 py-[5px] text-xs font-medium leading-5 text-slate-700 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700"
  >
    Металообробка
  </button>
  <button
    class="rounded-full bg-[#F4F5F7] px-2 py-[5px] text-xs font-medium leading-5 text-slate-700 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700"
  >
    Мийка, шиномонтаж
  </button>
  <button
    class="rounded-full bg-[#F4F5F7] px-2 py-[5px] text-xs font-medium leading-5 text-slate-700 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700"
  >
    Вантажні перевезення
  </button>
  <button
    class="rounded-full bg-[#F4F5F7] px-2 py-[5px] text-xs font-medium leading-5 text-slate-700 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700"
  >
    Стоянка TIR
  </button>
  <button
    class="rounded-full bg-[#F4F5F7] px-2 py-[5px] text-xs font-medium leading-5 text-slate-700 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700"
  >
    Тех. огляд
  </button>
</div>
