<div class="card py-2 pl-3 rounded-2xl pr-1.5 font-montserrat max-w-[542px] flex gap-4">
  <img
    class="rounded-2xl"
    src="/src/assets/unsplash_5m5418Ng6t8.png"
    alt="service icon"
  >
  <div class="flex flex-col justify-between items-start">
    <h1 class="text-lg font-bold text-gray-900 leading-6">
      Дезинфекция и озонирование автомобилей и автобусов
    </h1>
    <p class="text-xs leading-5 opacity-70 text-neutral-500">
      Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
    </p>
    <button class="bg-blue-600 text-white py-3 px-9 text-xs font-bold rounded-[30px] leading-none">Детальніше</button>
  </div>
</div>