<dialog
  class="rounded-large bg-white backdrop:border backdrop:border-black/10 backdrop:bg-black/25 backdrop:backdrop-blur-sm open:animate-fade-in open:backdrop:animate-fade-in focus:outline-0"
  id="signUpWindow"
>
  <div class="relative rounded-large bg-white px-5 py-10 md:px-14">
    <img
      src="/src/assets/xMarkIcon.svg"
      alt="x mark"
      class="absolute right-5 top-5 cursor-pointer"
      id="signUpXMark"
    />
    <div class="flex w-full max-w-[340px] flex-col items-center gap-3">
      <h2
        class="text-xl font-semibold leading-[30px] tracking-[0.4px] text-black"
      >
        Запис на ремонт
      </h2>
      <p class="text-center leading-6 tracking-[0.32px] text-black">
        Зателефонуйте нам для уточнення часу запису на ремонт
      </p>
      <ul
        class="flex flex-col items-center gap-2.5 text-lg font-medium leading-7 text-blue-600"
      >
        <li>
          <a
            class="transition-colors duration-300 hover:text-blue-800"
            href="tel:+380980000122"
          >
            +38(098)-0000-122
          </a>
        </li>
        <li>
          <a
            class="transition-colors duration-300 hover:text-blue-800"
            href="tel:+380960000127"
          >
            +38(096)-0000-127
          </a>
        </li>
        <li>
          <a
            class="transition-colors duration-300 hover:text-blue-800"
            href="tel:+380980000127"
          >
            +38(098)-0000-127
          </a>
        </li>
      </ul>
    </div>
  </div>
</dialog>

<script
  type="module"
  src="/src/scripts/ServiceSignUpModal.js"
></script>
