<div class="mb-10 font-montserrat flex flex-wrap gap-2">
  <button
    class="px-2 py-[5px] text-white leading-5 text-xs font-semibold bg-blue-600 rounded-full"
  >
    TIR Сервіс
  </button>
  <button
    class="px-2 py-[5px] text-slate-700 leading-5 text-xs font-medium bg-[#F4F5F7] rounded-full"
  >
    Віділ запчастин
  </button>
  <button
    class="px-2 py-[5px] text-slate-700 leading-5 text-xs font-medium bg-[#F4F5F7] rounded-full"
  >
    Мотор сервіс
  </button>
  <button
    class="px-2 py-[5px] text-slate-700 leading-5 text-xs font-medium bg-[#F4F5F7] rounded-full"
  >
    Турбо сервіс
  </button>
  <button
    class="px-2 py-[5px] text-slate-700 leading-5 text-xs font-medium bg-[#F4F5F7] rounded-full"
  >
    Металообробка
  </button>
  <button
    class="px-2 py-[5px] text-slate-700 leading-5 text-xs font-medium bg-[#F4F5F7] rounded-full"
  >
    Мийка, шиномонтаж
  </button>
  <button
    class="px-2 py-[5px] text-slate-700 leading-5 text-xs font-medium bg-[#F4F5F7] rounded-full"
  >
    Вантажні перевезення
  </button>
  <button
    class="px-2 py-[5px] text-slate-700 leading-5 text-xs font-medium bg-[#F4F5F7] rounded-full"
  >
    Стоянка TIR
  </button>
  <button
    class="px-2 py-[5px] text-slate-700 leading-5 text-xs font-medium bg-[#F4F5F7] rounded-full"
  >
    Тех. огляд
  </button>
</div>
