<div class="servicesSwiper block overflow-hidden px-2 md:hidden pb-6">
  <div class="swiper-wrapper mb-6">
    <div class="swiper-slide">{{>ServiceCard}}</div>
    <div class="swiper-slide">{{>ServiceCard}}</div>
    <div class="swiper-slide">{{>ServiceCard}}</div>
    <div class="swiper-slide">{{>ServiceCard}}</div>
    <div class="swiper-slide">{{>ServiceCard}}</div>
    <div class="swiper-slide">{{>ServiceCard}}</div>
  </div>
  <div class="mt-5 flex items-end justify-center gap-5 lg:hidden">
    <button
      class="paragraphIcon prevService rounded-full bg-white p-2 transition-all duration-300 hover:scale-105 hover:bg-zinc-50"
    >
      <img
        class="h-6 w-6"
        src="/src/assets/chevronLeft.svg"
      />
    </button>
    <div class="swiperService-pagination !relative !w-auto"></div>
    <button
      class="paragraphIcon nextService rounded-full bg-white p-2 transition-all duration-300 hover:scale-105 hover:bg-zinc-50"
    >
      <img
        class="h-6 w-6"
        src="/src/assets/chevronRight.svg"
      />
    </button>
  </div>
</div>

<script
  type="module"
  src="/src/scripts/ServiceSwiper.js"
></script>
