<div class="text-gray-900 flex font-montserrat tracking-[0.32px]">
  <p class="max-w-[710px] font-medium w-full p-3">
    Заміна поршнів на двигунах Scania R-Series 4x2 2016 DC13 146
  </p>
  <p class="max-w-[266px] w-full p-3">2-3 днів</p>
  <p class="max-w-[152px] w-full p-3">25 500 &#8372;</p>
</div>