<div
  class="card flex flex-col rounded-2xl py-3 pl-3 pr-1.5 max-w-[560px] lg:flex-row gap-4 h-full"
>
  <img
    class="max-h-80 rounded-2xl"
    src="/src/assets/detailing.png"
    alt="service icon"
  />
  <div class="flex flex-col gap-2">
    <h1 class="text-lg font-bold leading-6 text-gray-900">
      Дезинфекция и озонирование автомобилей и автобусов
    </h1>
    <p class="text-xs leading-5 text-neutral-500 opacity-70">
      Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
      является
    </p>
    <a
      href="/service/"
      class="mt-auto"
    >
      <button
        class="rounded-large bg-blue-600 px-9 py-3 text-xs font-bold leading-none text-white transition-colors duration-300 hover:bg-blue-700 hover:text-zinc-100"
      >
        Детальніше
      </button>
    </a>
  </div>
</div>
