<div class="bg-gray-100 py-2 tracking-[0.32px] text-gray-900 md:flex">
  <p class="w-full max-w-[710px] p-3 font-medium">
    Ремонт двигуна Scania R-Series 4x2 2016 DC16 115
  </p>
  <div class="flex w-full max-w-[418px]">
    <p class="w-full max-w-[266px] p-3">до 10 днів</p>
    <p class="w-full max-w-[152px] p-3">15 500 &#8372;</p>
  </div>
</div>
