<div
  class="card flex w-full max-w-[388px] flex-col rounded-2xl py-2 pl-3 pr-1.5 lg:max-w-[560px] xl:flex-row xl:gap-4"
>
  <img
    class="h-[164px] rounded-2xl lg:h-[154px]"
    src="/src/assets/detailing.png"
    alt="service icon"
  />
  <div class="flex flex-col items-start justify-between gap-2">
    <h1 class="text-lg font-bold leading-6 text-gray-900">
      Дезинфекция и озонирование автомобилей и автобусов
    </h1>
    <p class="text-xs leading-5 text-neutral-500 opacity-70">
      Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
      является
    </p>
    <a href="/service/">
      <button
        class="rounded-large bg-blue-600 px-9 py-3 text-xs font-bold leading-none text-white"
      >
        Детальніше
      </button>
    </a>
  </div>
</div>
